* {
  background-color: #3399FF;
  text-align: center;
}
aside {
  text-align: center;
  background-color: #99CCFF;
  border: 2px solid #6699CC;
  border-radius: 5px;
  display: inline-block;
}
#timeLeft {
  background-color: #99CCFF;
  border: 2px solid #6699CC;
  border-radius: 5px;
  display: block;
}
ul, li {
  background-color: #99CCFF;
}
